### Q1
List the basic data types in python and give one example each.

# Integer

In [69]:
m= 10

# Float

In [70]:
n=20.5

# Boolean

In [71]:
p = True

# String

In [72]:
profession ="I am a Pythonista"

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

#  Change variable  x to a string and assign it to a new variable y

In [73]:
x = 4539.85
y=str(x)
print (type(y))

<class 'str'>

# Change variable x an integer and assign it to a new variable z

In [74]:
x = 4539.85
z=int(x)
print (type(z))

<class 'int'>

### Q3

What data type would you use to store

a. The price of car?  float

b. The age of a person? integer

c. car plate number: plateNumber = "AV01-AFP"? string

d. The price of fuel? float

e. The number of students in the class? integer

f. The weight of a person? float

g. Check whether two figures are equal? boolean

i. The name of a  school? string

j. The average result of the overall score of a student? float

k. The total number of vote cast? integer

# Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [76]:
statement="Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"
len(statement)
split=statement.split(".")
split
statement_1=split[0]
statement_2=split[1]

# What is the length of statment 1?

In [22]:
len(statement_1)

60

# What is the length of statment 2?

In [23]:
len(statement_2)

35

# Is the length of statement 1 greater than statement 2?

In [77]:
len(statement_1)>len(statement_2)

True

### Q5
What values does python use to represent **True** and **False** respectively?

In [27]:
True==1

True

In [28]:
False==0

True

 1 is used to represent True and 0 is used to represent False

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

1. 78 is greater than 46 and less than 30 which is an odd number.

In [78]:
(46<78<30) and (30%2==1)

False

2. 8-2 is an even number or 8 is a is an odd number.

In [60]:
((8-2)%2 == 0) or (8%2 == 1)

True

3.The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [63]:
(len("boostrap") == 7) and (len("sample")== 6)

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [80]:
word='Hello, How are you?'

In [85]:
print(word[7:10])

How

In [86]:
print(word[7:])

How are you?

In [87]:
print(word[-8:-4])

are

In [89]:
print(word[-1])

?

In [90]:
print(word[:-1])

Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [37]:
sentence = "I am very excited"

In [91]:
print(sentence.upper())

I AM VERY EXCITED

In [92]:
print(sentence.lower())

i am very excited

In [93]:
print(sentence.title())

I Am Very Excited

In [94]:
print(sentence.split())

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [96]:
word = 'OneThirtyEight'

Using Python code extract One

In [97]:
print(word[:3])

One

Using Python code extract Thirty

In [98]:
print(word[3:9])

Thirty

In [ ]:
Using Python code extract Eight

In [99]:
print(word[-5:])

Eight

Using Python code extract OneThirty

In [100]:
print(word[:9])

OneThirty

In [ ]:
Using Python code extract ThirtyEight

In [101]:
print(word[3:])

ThirtyEight

In [ ]:
Using Python code extract ONETHIRTYEIGHT

In [102]:
print(word.upper())

ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [55]:
name= str("Ault'Kelly")
name

"Ault'Kelly"

In [56]:
type(name)

str