### Q1

Name the four built-in data structures in python. Give one examples for each

In [6]:
#list
mylist = ["pencil", "book", "eraser"]

In [5]:
#tuples
mytuple = ("pencil", "book", "eraser")

In [4]:
#sets 
myset = {"pencil", "book", "eraser"}

In [3]:
#dictionary:
mydict = {
  "Stationary": "Pencil",
  "Utensil": "Frying pan",
  "Furniture": "Chair"
}

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
#1. Lists are mutable while whiles tuple are imutable
#2. Lists are initiated with with [] while tuples are initiated with ()

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [39]:
animal_list=["Dog","Cat","Cow","Rabbit","Cattle"]

In [40]:
#Print the first two animals
print(animal_list[:2])

['Dog', 'Cat']

In [41]:
#Print the last two animals
print(animal_list[-2:])

['Rabbit', 'Cattle']

In [42]:
#Add three extra animals to the variable `animal_list`
animal_list.extend(["Lion","Tiger","Goat"])
print(animal_list)

['Dog', 'Cat', 'Cow', 'Rabbit', 'Cattle', 'Lion', 'Tiger', 'Goat']

In [43]:
 #Remove the first two animals from the variable `animal_list`
animal_list.remove("Dog")
animal_list.remove("Cat")
animal_list

['Cow', 'Rabbit', 'Cattle', 'Lion', 'Tiger', 'Goat']

In [44]:
#How many animals are in the `animal_list`?
len(animal_list)

6

In [46]:
#Create a variable animal_set which stores the set of animal_list
animal_set=set(animal_list)
animal_set

{'Cattle', 'Cow', 'Goat', 'Lion', 'Rabbit', 'Tiger'}

In [47]:
#How many elements are in the animal_set?
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [49]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [52]:
#Create a list called first containing only the two first items from suitcase.
first = suitcase[:2]
print(first)

['sunglasses', 'hat']

In [55]:
#Create a list called middle containing only the two middle items from suitcase.
middle = suitcase[2:4]
print(middle)

['passport', 'laptop']

In [60]:
#Create a list called last made up only of the last two items from suitcase.
last = suitcase[-2:]
print(last)

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [63]:
values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3,35)
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
#I will prefer to use tuple over a list if the data stored shouldnt change

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [7]:
region_capital = {
    "Greater Accra Region": "Accra",
    "Central Region":"Capecoast",
    "Volta Region":"Ho", 
    "Ashanti Region":"Kumasi",
    "Western Region":"Takoradi"
}

#Print out the keys of region_capital
print(region_capital.keys())

#Print out the values of region_capital
print(region_capital.values())

dict_keys(['Greater Accra Region', 'Central Region', 'Volta Region', 'Ashanti Region', 'Western Region'])
dict_values(['Accra', 'Capecoast', 'Ho', 'Kumasi', 'Takoradi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [76]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]

In [72]:
#What is the total number of elements in values?
len(values)

16

In [79]:
#What is the highest occuring number in the values variable?
count_values = {}

for a in values:
    if a in count_values:
        count_values[a] += 1
    else:
        count_values[a] = 1

Highest_Occuring = max(count_values, key=count_values.get)

Highest_Occuring

3

In [77]:
#Convert values into a set and store it into a variable named values_set
values_set= set(values)
print(values_set)

{1, 2, 3, 4, 5, 6}

In [78]:
#How many elements are in the variable values_set?
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [82]:
a=dict()
for x in range(1,16):
    a[x]=x**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [8]:
keys = ['x', 'y', 'z']


dictionary = {}
for key in keys:
    if key == 'x':
        dictionary[key] = list(range(11,21))
    elif key == 'y':
            dictionary[key] = list(range(21,31))
    else:
        dictionary[key] = list(range(11,21))
        
for key in keys:
    print(f'{key} : {dictionary[key][4]}')

x : 15
y : 25
z : 15